SMTP_HOST=out.postassl.it
SMTP_PORT=465
SMTP_USER=contatto@brachini.com
SMTP_PASS="N3tm3d42dc2#"
CONTACT_TO=contatto@brachini.com
CONTACT_FROM=contatto@brachini.com

RECAPTCHA_SITE_KEY=6LftzVcsAAAAAEz_0SzmFDVCNdpswwKtOuF7Ftzv
RECAPTCHA_SECRET_KEY=6LftzVcsAAAAADUZihUxXoTcwePUfyXE6FnaDq1e
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=6LftzVcsAAAAAEz_0SzmFDVCNdpswwKtOuF7Ftzv
NEXT_PUBLIC_GA_ID=G-40B3CN7851

# reCAPTCHA Enterprise (obbligatori per Enterprise)
RECAPTCHA_ENTERPRISE_PROJECT_ID=6LftzVcsAAAAAEz_0SzmFDVCNdpswwKtOuF7Ftzv
RECAPTCHA_ENTERPRISE_API_KEY=6LftzVcsAAAAADUZihUxXoTcwePUfyXE6FnaDq1e
